
<!--
    <div class="text-center mb-3" >
    <form style="max-width: 200px; margin:auto" name="form" (ngSubmit)=" onSubmit()" #f="ngForm" novalidate>
        <input type="text" class="form-control " style = "width: 220px;" name="city" [(ngModel)]="form.city" required #city="ngModel" placeholder="Entrez un nom  de ville"/>
        
        <div >
          <button class="btn btn-lg btn-secondary mt-2">rechercher</button>
        </div>   
    </form>
  </div>
-->

<div class="card p-3 shadow mt-5" style="max-width: 600px;"  *ngIf="pollutionIndexesCity?.length">
    <h2 class="text-center p-3" *ngIf="countResult > 0 "> {{pollutionIndexesCity[0].cityName | titlecase }} </h2>
    <h6>Pollution moyenne ajourd'hui : {{pollutionAverageToday}}</h6>
    <h2 class="text-center p-3" *ngIf="countResult === 0 "> Aucune donnée à jour disponible aujourd'hui.. retentez plus tard!</h2>

    
    
    <nav>
        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Profil</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"></button>
            <!--<button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>-->
        </div>
    </nav>
    <div class="tab-content p-3 border bg-light" id="nav-tabContent">
        <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <p><strong>This is some placeholder content the Home tab's associated content.</strong>
                        other <code>.nav</code>-powered navigation.</p>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <p><strong>This is some placeholder content the Profile tab's associated content.</strong>
                tabs, pills, and any other <code>.nav</code>-powered navigation.</p>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <p><strong>This is some placeholder content the Contact tab's associated content.</strong>
                Clicking another tab will toggle the visibility of this one for the next.
                The tab JavaScript swaps classes to control the content visibility and styling. You can use it with
                tabs, pills, and any other <code>.nav</code>-powered navigation.</p>
        </div>
    </div>

    <div class="row gy-3 mt-1">
    <table style="border-collapse: collapse; width: 390px">
        <tr>
            <td><span class="badge bg-success rounded-pill" style="width: 70px;">Bon</span></td>
            <td><span class="badge bg-warning rounded-pill" style="width: 70px;"> Moyen</span></td>
            <td><span class="badge bg-danger rounded-pill" style="width: 70px;">Mauvais</span></td>
            <td style="width: 70px">&nbsp;</td>
            <td style="width: 150px"> <form  name="form" (ngSubmit)=" onSubmit()" #f="ngForm" novalidate style="display: inline-block">
                <table style="align-content: right;"><tr>
                    <td><input type="text" class="form-control" style = "width: 150px;" name="city" [(ngModel)]="form.city" required #city="ngModel" placeholder="ville"/></td>
                <td>&nbsp;</td>
                    <td><button class="btn btn-sm btn-outline-primary mt-2" >ok</button></td>
                </tr></table>
            </form>
            </td>              
            </tr></table>     
    
        
    </div>

</div>

<div class="row gy-3 mt-3 mb-5">
    <div class="col-sm-3" *ngFor="let pollutionIndex of pollutionIndexesCity">
        <div class="card w-35  border-success" >
            <div class="card-header">
                {{pollutionIndex.cityName | titlecase }}
            </div>
            <div class="card-body">

                <h6 class="card-subtitle">Evolution de l'index de pollution aujourd'hui</h6>


                <span *ngIf="pollutionIndex.pollutionIndex >= 0 && pollutionIndex.pollutionIndex <= 50"
                    class="badge bg-success rounded-pill">{{pollutionIndex.pollutionIndex}}

                </span>


                <span *ngIf="pollutionIndex.pollutionIndex   > 50 && pollutionIndex.pollutionIndex <= 75"
                    class="badge bg-warning rounded-pill">
                    {{pollutionIndex.pollutionIndex}}
                </span>

                <span *ngIf="pollutionIndex.pollutionIndex  >75 " class="badge bg-danger rounded-pill">
                    {{pollutionIndex.pollutionIndex}}</span>

                <div class="collapse" id="collapseExample">
                    <div class="card card-body" style=" width: auto">
                        <ul class="card-text">
                            <li>ozone: {{pollutionIndex.o3}}  </li>
                            <li>monoxyde de carbone: {{pollutionIndex.co}}  </li>
                            <li>dyoxide d'azote: {{pollutionIndex.no2}} </li>
                            <li>dyoxide de souffre: {{pollutionIndex.so2}}</li>
                            <li>température: {{pollutionIndex.t}}</li>
                            <li>humidité: {{pollutionIndex.h}}</li>
                            <li>pression de l'air: {{pollutionIndex.p}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                mis à jour: {{pollutionIndex.day | date: 'le dd MMMM yyyy à HH:mm' }}
                <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    détail
                </button>

            </div>
        </div>
    </div>
</div>

