<header class="navbar navbar-expand-lg navbar-dark fixed-top nga-navbar">
  <nav class="container" aria-label="Main navigation">
    <a href="#" class="d-none d-sm-block">
     
    </a>
    <a routerLink="/" class="navbar-brand" alt="Accueil" aria-label="Ganatan">
      
      <span class="nga-navbar-logo mx-1"></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">
            <i class="fab fa-angular me-1"></i>Accueil</a>
        </li>
        <li class="nav-item">
         <!-- <a class="nav-link" aria-current="page" routerLink="/bootstrap">
            <i class="fab fa-bootstrap me-1"></i>Bootstrap</a> 
          -->
        </li>
      </ul>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
         <!-- <a class="nav-link" aria-current="page" routerLink="/news">
            <i class="fas fa-photo-video me-1"></i></a>
         -->
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/boxoffice">
            <i class="fas fa-film me-1"></i></a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/cityChart">
            <i class="far fa-question-circle me-1"></i>villes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/regionChart">
            <i class="fas fa-envelope me-1"></i>régions</a>
        </li>
      </ul>
      <form class="d-flex">
        <span class="nav-item" *ngIf="!isLoggedIn">
        <button type="button" class="btn btn-sm nga-btn-navbar me-2" routerLink="/register"><i
            class="fas fa-user-plus me-2"></i>créer un compte</button>
        <button type="button" class="btn btn-sm btn-outline-light me-2" routerLink="/login"><i
            class="fas fa-sign-in-alt me-2"></i>connexion</button>
          </span>
          <span class="nav-item" *ngIf="isLoggedIn" style="color:white">
            {{username}} &nbsp;
            <button type="button" class="btn btn-sm btn-outline-light me-2" (click)="logout()"><i
              class="fas fa-sign-in-alt me-2"></i>déconnexion</button>
          </span>
      </form>
    </div>
  </nav>
</header>
<!-- 
    <li class="nav-item dropdown megamenu" >
    <a id="megamneu" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold text-uppercase dropdown-toggle">Menu</a>
      <div aria-labelledby="dropdownMenuButton1" class="dropdown-menu border-0 p-0 m-0">
        <div class="container">
          <div class="row bg-white rounded-0 m-0 shadow-sm">
            <div class="col-lg-7 col-xl-8">
              <div class="p-4">
                <div class="row">
                  <div class="col-lg-6 mb-4">
                    <h6 class="font-weight-bold text-uppercase">Qualité de l'air en région</h6>
                    <ul class="list-unstyled">
                      <li class="nav-item"><a href="" class="nav-link text-small pb-0">Nord</a></li>
                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Ouest</a></li>
                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">IDF</a></li>
                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Centre</a></li>
                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Grand-Est</a></li>
                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Sud-Ouest</a></li>
                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Sud-Est</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-6 mb-4">
                    <h6 class="font-weight-bold text-uppercase">Et l'air dans votre ville à vous?.. </h6>
                    <ul class="list-unstyled">
                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Je vérifie la qualié de l'air de ma ville </a></li>
                      <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Palmares des bons et mauvais élèves</a></li>
                      <li class="nav-item">&nbsp;</li>
                      <li class="nav-item">&nbsp;</li>
                    </ul>
                    
                    <h6 class="font-weight-bold text-uppercase">Santé</h6>
                    <ul class="list-unstyled">
                        <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Indicateurs de pollution et santé</a></li>
                       <li class="nav-item"></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"></li>
                      </ul>
                </div>
                  <div class="col-lg-6 mb-4">
                    <h6 class="font-weight-bold text-uppercase"></h6>
                    <ul class="list-unstyled">
                      <li class="nav-item">&nbsp;</li>
                      <li class="nav-item">&nbsp;</li>
                      <li class="nav-item">&nbsp;</li>
                      <li class="nav-item">&nbsp;</li>
                    </ul>
                  </div>
                  <div class="col-lg-6 mb-4">
                    
                    
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-xl-4 px-0 d-none d-lg-block" style="background: center center url(assets/carte-france-regions-medium.png)no-repeat; background-size: cover;"></div><br>              </div>
        </div>
      </div>
    </li>
 -->