<footer class="nga-footer" style="background-color: #092547;">
    <div class="hint mt-5">
      <div class="container text-center text-md-start">
        <div class="row py-4">
          <div class="col">
            <div style="font-size:.80em" class="h6 mb-0 text-white">
                notre santé passe par l'état de l'air ambiant.. tenez-vous informés
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container py-5 text-center text-lg-start" style="background-color: #092547;">
      <div class="row">
        <div class="col-12 col-lg-5 mb-3">
          <h2 class="h5" style="color: #092547;"><span style="width: 25px;">&nbsp;</span></h2>
          <div class=" mb-4 mt-0 d-inline-block " style="width: 120px; "></div>
          <p>&nbsp;</p>
          
          <div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            
          </div>
        </div>
        <div class="col-6 col-lg-3 mb-3">
          <h2 class="h5">&nbsp;</h2>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#">&nbsp;</a></li>
            <li class="mb-2"><a href="#">&nbsp;</a></li>
            <li class="mb-2"><a href="#">&nbsp;</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 mb-3" >
          <h2 class="h5">Learn</h2>
          <hr class="text-primary mt-0 d-inline-block" style="width: 70px;">
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://www.ganatan.com/tutorials">sites utiles :</a></li>
            <li class="mb-2"><a href="https://www.airparif.asso.fr/surveiller-la-pollution/">airparif.asso.fr/surveiller-la-pollution</a></li>
            <li class="mb-2" ><a href="https://aqicn.org/">qualité de l'air par ville dans le monde</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="py-3 text-center" style="background-color: #092547;">
      <div class="container">
        2022 :<a href="http://www.airquality.link.s3-website.us-east-2.amazonaws.com/home"> air-quality </a>
      </div>
    </div>
  </footer>
<!--
    <footer class="nga-footer" style="background-color : #092547">
    <div class="hint">
      <div class="container text-center text-md-start" >
          <div class="row py-4">
              <div class="col">
                  <div style="font-size:.80em" class="h6 mb-0 text-white">
                    
                </div>
            </div>
        </div>
    </div>
    
</div>
    <div class="container py-6 text-center text-lg-start" style="background-color : #092547 ">
        <div class="row" style="background-color : #092547">
            
            <div class="col-6 col-lg-4 mt-5" style="background-color : #092547; width: 100%">      
                <ul class="list-unstyled" style="background-color : #092547; ">
                    <li class="mt-2"><a href="https://angular.io/">sites utiles : </a></li>
                    <li class="mt-2" style="font-size:.80em"><a href="https://www.airparif.asso.fr/surveiller-la-pollution/">airparif.asso.fr/surveiller-la-pollution</a></li>
                    <li class="mt-2" style="font-size:.80em"><a href="https://aqicn.org/">qualité de l'air par ville dans le monde</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 mb-3" style="background-color : #092547">
                
                <ul class="list-unstyled" style="background-color : #092547">
                    <li class="mb-2"><a href="https://www.ganatan.com/tutorials"></a></li>
                    <li class="mb-2"><a href="https://www.ganatan.com/about"></a></li>
                </ul>
        </div>
      </div>
    </div>
    <div class="py-6 text-center" style="background-color: #092547 ;">
      <div class="container" style="background-color : #092547">
        2022 :<a href="#"> www.air-quality.com</a>
      </div>
    </div>
  </footer>
-->
