<div  *ngIf="!isLoggedIn">
<div class="container-fluid mb-5 mt-5">
  <div class="row mb-2">
    <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">
      <div class="card-nga">
        <div style="max-width: 400px; margin:auto;">
          <h4>
             connectez-vous à refresh
          </h4>
        
        </div>  
        <div class="card px-lg-5 pt-4 border-secondary rounded-3">
          <form style="max-width: 200px; margin:auto" name="form" (ngSubmit)=" onSubmit()" #f="ngForm" novalidate>
            <div class="form-row">
              <div class="col">
                <div class="md-form mb-2">
                  <div>
                    <input type="text" class="form-control" [(ngModel)]="form.username" required #username="ngModel" name="username" placeholder="username"/>
                    
                  </div>
                </div>
                <div class="md-form">
                  <div >
                    <input type="password" class="form-control"  [(ngModel)]="form.password" required minlength="6" #password="ngModel"   name="password"placeholder="mot de passe"/>
                    
                  </div>
                </div>
                <div class="d-flex justify-content-around">
                  <div class="pb-4">
                    <!--<a class="login" href="/login-reset">Mot de passe oublié ?</a> -->
                  </div>
                </div>
                <button class="btn btn-lg btn-secondary btn-block">
                  Se connecter<i class="fas fa-sign-in-alt ms-4"></i></button>
                <p class="text-center">Non inscrit ?
                  <a class="login" href="/register">S'inscrire</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--
<div class="text-center" *ngIf="!isLoggedIn">
  <div style="max-width: 400px; margin:auto;">
    <h4 class="mt-4 font-weight-normal;">Vous avez un compte?<br/>
       connectez-vous à refresh
    </h4>
  
  </div>  
  <form style="max-width: 200px; margin:auto" name="form" (ngSubmit)=" onSubmit()" #f="ngForm" novalidate>
      <label for="email" class="sr-only"> </label>
      <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required #username="ngModel" placeholder="Username"/>
      <label for="password" class="sr-only"></label>
      <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" placeholder="Password" />
      <div class="mt-3">
        <button class="btn btn-lg btn-secondary btn-block">Connexion</button>
      </div>   
  </form>
</div>
-->

<div class="alert bg-secondary mt-5 " style="width: 400px; margin:auto" *ngIf="isLoggedIn">
  <div class="card w-35  border-success">
    <div class="card-header">
      Bienvenue sur <span class="font-dancing-small">Refresh</span>
    </div>
    <div class="card-body">
      vous êtes connectés en tant que {{ username }}  
    </div>
    <div class="card-footer">     
      <button class="btn btn-secondary btn-sm" type="button" (click)="onViewHome()">
          Refresh
      </button>
  </div>

  </div>
</div>