
  <select [(ngModel)]="monoChartType">
    <option *ngFor="let ct of monoChartTypes">{{ct}}</option>
</select><br/>

        <div class  >
            <canvas baseChart
                [datasets]="chartData" 
                [labels]="labels" 
                [type]="monoChartType" >
            </canvas>
        </div>

    


