
<app-header></app-header>


<!--<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand font-dancing" style="font-size: 30px;">@Refresh.. à jour sur la pollution de l'air</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="#home">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pollutionIndexComponent">ma ville </a>
        </li>
        <li class="nav-item">
           <a class="nav-link" routerLink="/regionChart">régions</a>
         </li>
         
         <li class="nav-item">
           <a class="nav-link" routerLink="/cityChart">villes</a>
         </li>
         
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" routerLink="/register">créer votre compte</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" href="/login">connexion</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <button class="btn btn-secondary btn-sm" type="button" (click)="logout()">déconnexion </button>
            
          </li>
         
      </ul>
    </div>
  </div>
</nav>
-->

  <div class="container mt-3">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>


  <!-- End -->
  <!--Menu Menu-->  


  
  
