
<div class="container py-2 mt-4">
   <div class="row">
 
     <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center mb-2">
       <h1 class="h5" style="font-size: 18px">
         <i class="fas fa-laptop fa-lg me-2 text-primary"></i>
         POLLUTION DE L'AIR PAR VILLE <i class="fas fa-mobile-alt fa-lg ms-2 text-primary"></i>
       </h1>
     </div>
     <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center text-danger mb-2">
       <h2 class="h5" style="font-size: 18px">
         CLASSEMENT DES VILLES HEURE PAR HEURE<i class="fab fa-angular fa-lg ms-2"></i>
       </h2>
     </div>
     <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center text-primary mb-2">
       <h2 class="h5" style="font-size: 18px">
         CLASSEMENT DES REGIONS HEURE PAR HEURE<i class="fab fa-bootstrap fa-lg ms-2"></i>
       </h2>
     </div>
     <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center text-success mb-2">
       <h2 class="h5" style="font-size: 18px">
         INFO POLLUTION<i class="fab fa-font-awesome-flag fa-lg ms-2"></i>
       </h2>
     </div>
   </div>
   <hr>
   <div class="row mb-2">
     <div class="col-md-12 text-center">
       <span  class="font-dancing">@Refresh : [qualité de l'air en France]</span>
     </div>
   </div>
   <div class="row">
     <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-4" *ngFor="let item of features">
       <div class="nga-card-angular nga-card-cascade">
         <div class="nga-card-img">
           <a routerLink="/{{ item.link }}">
             <img class="img-fluid card-img-top" src="./assets/home/{{ item.image }}" alt="Card image cap">
           </a>
         </div>
         <div class="card-body pt-0">
           <h6 class="card-subtitle mt-1">
              <div *ngIf="item.type != 'VILLE' ">
             <span style="font-size: 13px; "><strong>{{ item.description }} </strong></span>
            </div>
            <div *ngIf="item.type === 'VILLE' ">
               <span style="font-size: 13px; "><strong>saisissez un nom de ville :</strong></span>
               <form  name="form" (ngSubmit)=" onSubmit()" #f="ngForm" novalidate>
                     <table>
                     <tr>
                        <td>
                           <input type="text" class="form-control" style = "width: 200px;" name="city" [(ngModel)]="form.city" required #city="ngModel" placeholder="Entrez un nom  de ville"/>
                        </td>
                           <td>&nbsp;</td>
                        <td><button class="btn btn-sm btn-outline-primary mt-2" >ok</button></td>
                     </tr>
                     </table>
                     
                  </form>
               
            </div>
           </h6>
         </div>
       </div>
     </div>
   </div>
 </div>

<!--        <div class="row mt-1">
          <div class="col-12 section-intro " >
             <h4>Bienvenue <div class="nav-link-lowercase text-success"  *ngIf="isLoggedIn" >{{username | titlecase}} </div>dans votre espace sur la qualité de l'air en France</h4>
             <div class="hline"></div>
          </div>
       </div>
       <div class="row">
          <div class="col-lg-4 col-sm-6 p-4">
             <div class="icon-box-gray">
             </div>
             <h4 class="title-sm mt-4">
               <a routerLink="/pollutionIndexComponent">
                 L'air dans votre ville
              </a>
             </h4>
             <p>consultez la qualité de l'air de votre ville  {{isRefreshed}}</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4">
             <div class="icon-box-green">
                <i class='bx bxs-landscape'></i>
             </div>
             <h4 class="title-sm mt-4 "> Partir en week-end</h4>
             <p>régions et villes où l'air sera le meilleur dans les 4 jours à venir</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4">
             <div class="icon-box-green">
                <i class='bx bxs-map'></i>
             </div>
             <h4 class="title-sm mt-4">
               <a routerLink="/regionChart">
                  L'air en région
               </a>
               </h4>
            <p> dernier relevé pollution du jour (cumul des villes ) par région</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4">
             <div class="icon-box-gray">
                <i class='bx bxs-heart'></i>
             </div>
             <h4 class="title-sm mt-4">Santé</h4>
             <p>la qualité de l'air et votre santé</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4">
             <div class="icon-box-gray">
                <i class='bx bx-laptop'></i>
             </div>
             <h4 class="title-sm mt-4">Les particules polluantes</h4>
             <p>la pollution de l'air, c'est quoi exactement?</p>
          </div>
          <div class="col-lg-4 col-sm-6 p-4">
             <div class="icon-box-green">
                <i class='bx bxs-happy-heart-eyes'></i>
             </div>
             <h4 class="title-sm mt-4">Refresh</h4>
             <p>deux poumons valent mieux que un tu l'auras</p>
          </div>
       </div> -->
  
<!--<p class="lead"><span class="font-dancing">Refresh </span>c'est la mise à jour quotidienne de la qualité de l'air des villes région par région</p>
  <p class="lead">partir en <code>.week-end</code> comprendre la pollution de l'<code>air</code> prendre soin de sa <code>santé</code></p>
  <p class="lead">prendre conscience de <code>l'environement </code> de nos  <code>villes</code></p>-->
