.nga-card-angular {
  display: block;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  border-radius: 2px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.nga-card-angular:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
  color: #0d6efd;
}

.nga-card-cascade {
  margin-top: 20px;
}

.nga-card-cascade .nga-card-img {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
}

.nga-card-cascade .nga-card-img img {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}
.font-dancing{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  color: green;
}

