<div class="text-center" *ngIf="!isSuccessful">
<div class="container-fluid mb-5 mt-5">
  <div class="row mb-2">
    <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">
      <div class="card-nga">
        <div style="max-width: 450px; margin:auto;">
          <h4>
            Créez votre compte Refresh
          </h4>
        
        </div>  
        <div class="card px-lg-5 pt-4 border-secondary rounded-3">
          <form style="max-width: 200px; margin:auto" name="form" (ngSubmit)=" onSubmit()" #f="ngForm" novalidate>
            <div class="form-row">
              <div class="col">
                <div class="md-form mb-2">
                  <div>
                    <input type="text" class="form-control" [(ngModel)]="form.username" required #username="ngModel" name="username" placeholder="username"/>
                    
                    <div class="alert-danger" *ngIf="username.errors && f.submitted">
                      <div *ngIf="username.errors.required">entrez un nom d'utilisateur </div>
                      <div *ngIf="username.errors.minlength">
                        5 caractères au minimum
                      </div>
                      <div *ngIf="username.errors.maxlength">
                        20 caractères au minimum
                      </div>
                    </div>

                  </div>
                </div>
                <div class="md-form">
                  <div >
                    <input type="email" placeholder="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
                    <div class="alert-danger" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">
                      Email must be a valid email address
                    </div>
                  </div>
                    
                  </div>
                </div>
                
                <div class="md-form mt-2 mb-2">
                  <div >
                    <input type="password" class="form-control"  [(ngModel)]="form.password" required minlength="6" #password="ngModel"   name="password"placeholder="mot de passe"/>
                    
                  </div>
                </div>
                <button class="btn btn-lg btn-secondary btn-block">
                  valider<i class="fas fa-sign-in-alt ms-4"></i></button>
                <p class="text-center">Non inscrit ?
                  <a class="login" href="/register">S'inscrire</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

   
  

<div *ngIf="isSuccessful">    
<div class="container-fluid mb-5 mt-5">
  <div class="row mb-2">
    <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">
      <div class="card-nga">
        <div style="max-width: 450px; margin:auto; height: 400px;">
          
          <div class="card px-lg-5 pt-4 border-secondary rounded-3">
            Vous êtes désormais inscrit. Vous pouvez vous connecter.
          </div>
        
        </div>  
      </div>
    </div>
  </div>
</div>
</div>
<!--<div class="text-center" *ngIf="!isSuccessful">
  <div style="max-width: 400px; margin:auto;">
    <h4 class="font-weight-normal;">créer votre compte</h4>
  </div>  
  <img
  id="profile-img"
  src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
  class="profile-img-card"/>
  <form  
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate style="max-width: 200px; margin:auto">
      
  <input type="text" placeholder="Username" class="form-control" name="username" [(ngModel)]="form.username" required autofocus minlength="3" maxlength="20" #username="ngModel"/>
  <div class="alert-danger" *ngIf="username.errors && f.submitted">
    <div *ngIf="username.errors.required">Username is required</div>
    <div *ngIf="username.errors.minlength">
      Username must be at least 3 characters
    </div>
    <div *ngIf="username.errors.maxlength">
      Username must be at most 20 characters
    </div>
  </div>

  
  <input type="email" placeholder="Email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
  <div class="alert-danger" *ngIf="email.errors && f.submitted">
  <div *ngIf="email.errors.required">Email is required</div>
  <div *ngIf="email.errors.email">
    Email must be a valid email address
  </div>
</div>
  
  <input type="password" placeholder="Password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" />
  <div class="alert-danger" *ngIf="password.errors && f.submitted">
    <div *ngIf="password.errors.required">Password is required</div>
    <div *ngIf="password.errors.minlength">
  Password must be at least 6 characters
    </div>
  </div>
  <div class="form-group">
      <div class="mt-3">
        <button class="btn btn-lg btn-secondary btn-block">Valider</button>
      </div> 
  </div>
  <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
    Signup failed!<br />{{ errorMessage }}
  </div>
  
</form>
</div>
-->

